@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden; }

.app {
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: pink; }

.toolbar {
  display: inline-block;
  position: absolute;
  left: -13rem;
  text-transform: uppercase;
  width: 13rem;
  height: 100%;
  background: #242423;
  font-size: 12px;
  text-align: center;
  transition: left 0.2s; }

.menu {
  position: absolute;
  display: block;
  vertical-align: middle;
  height: auto;
  width: 2rem;
  right: -2rem;
  top: 0;
  padding: 0;
  color: #f8faf6;
  background: transparent;
  cursor: pointer; }

.showToolBtn {
  color: #f8faf6;
  background: #F34A00;
  transition: all 0.3s;
  vertical-align: middle;
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 0 20% 20% 0; }
  .showToolBtn::before {
    background: url("./svg/add.svg") no-repeat center;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    content: '';
    background-size: 40%; }
  .showToolBtn:hover {
    width: 2.2rem; }

.menuBtn {
  color: #242423;
  background: #D8E0E7;
  vertical-align: middle;
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 0 20% 20% 0; }
  .menuBtn::before {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    content: '';
    background-size: 40%; }

.test {
  background: #f5cb5c;
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: -2rem;
  top: 2rem; }

.visible {
  left: 0; }
  .visible .showToolBtn::before {
    transform: rotate(45deg); }

[class*='tool '] {
  background: #f8faf6;
  position: relative;
  box-sizing: border-box;
  color: #86929B;
  padding: 5px;
  height: 40px;
  width: 100%;
  transition: color 0.2s ease-out;
  vertical-align: middle;
  cursor: pointer; }
  [class*='tool ']:hover {
    color: #00BDFF; }

.canvas {
  vertical-align: middle;
  background: #86929B;
  height: 100%;
  width: 100%; }

.pageEl {
  display: flex;
  background: #f8faf6;
  margin-top: auto 0;
  margin-left: 15%;
  height: 90%;
  width: 60rem; }

.containerEl {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  background: transparent;
  box-sizing: border-box; }

.divEl {
  width: 50%;
  height: 100%;
  background: transparent;
  border: 1px dotted #86929B;
  box-sizing: border-box; }

li {
  list-style-type: none;
  list-style-position: inside; }
