@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$f: 'Source Sans Pro', sans-serif;

$grey: #808080;

.flex-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: $f;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 150px;
  height: auto;
  border: 1px solid red;
  padding: 10px;
}

.divTool {
  margin: 10px;
  width: 80%;
  height: 80px;
  border: 1px solid;
}

.imageTool {
  margin: 10px;
  width: 80%;
  height: 80px;
  border: 1px solid;
}

.div {
  border: 1px solid black;
  width: 100%;
  height: 25%;
  box-sizing: border-box;
}

.image {
  border: 1px solid blue;
  width: 100%;
  box-sizing: border-box;
}

.canvas {
  background: rgba(255, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.row {
  &.header {
    height: 25%;
    border-bottom: 1px dotted $grey;
  }

  &.body {
    height: 50%;
    border-bottom: 1px dotted $grey;
  }

  &.footer {
    height: 25%;
  }
}

.over {
  border: 1px solid yellow;
}
