@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$f: 'Source Sans Pro', sans-serif;

$yellow: #FFF3A2;
$red: #F34A00;
$blue: #00BDFF;
$dark-grey: #86929B;
$light-grey: #D8E0E7;
$blk: #242423;
$offwhite: #f8faf6;


$platinum: #e8eddf;
$dkyellow: #f5cb5c;
$ltblue: #e7fbf8;

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: $f;
  overflow: hidden;
}

.app {
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: pink;
}

.toolbar {
  display: inline-block;
  position: absolute;
  left: -13rem;
  text-transform: uppercase;
  width: 13rem;
  height: 100%;
  background: $blk;
  font-size: 12px;
  text-align: center;
  transition: left 0.2s;
}

.showToolBtn {
  position: absolute;
  display: block;
  vertical-align: middle;
  border-radius: 0.1rem;
  right: -2rem;
  top: 0;
  height: 2rem;
  width: 2rem;
  color: $offwhite;
  background: $red;
  transition: color 0.1s;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.test {
  background: $dkyellow;
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: -2rem;
  top: 2rem;
}

.visible {
  left: 0;
}


[class*='tool '] {
  background: $offwhite;
  position: relative;
  box-sizing: border-box;
  color: $dark-grey;
  padding: 5px;
  height: 40px;
  width: 100%;
  transition: color 0.2s ease-out;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.canvas {
  vertical-align: middle;
  background: $dark-grey;
  height: 100%;
  width: 100%;
}

.pageEl {
  display: flex;
  background: $offwhite;
  margin-top: auto 0;
  margin-left: 15%;
  height: 90%;
  width: 60rem;
}

.containerEl {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
  background: transparent;
  box-sizing: border-box;
}

.divEl {
  width: 50%;
  height: 100%;
  background: transparent;
  border: 1px dotted $dark-grey;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  list-style-position: inside;
}
